    /* start of desktop styles */

    @media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
    }
    
 
    
    @media screen and (max-width: 479px) and (max-device-width: 768px) {
    /* start of phone styles */
    .container{
        clear:both;
        overflow:auto;
        margin: 0;
        padding: 0px;
    
        background: linear-gradient(88.72deg, #FE6E6E 0.95%, rgba(255, 50, 50, 0.458333) 54.01%, rgba(255, 255, 255, 0) 98.91%), url(../img/background.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 700px;
        width: 100%;
    }

        .heading {
            position: absolute;
            width: 100px;
            height: 54px;
            left:50px;
            top: 300px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 54px;
            color: var(--light);
        }
        .heading .sub-heading {
            position: absolute;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 50px;
            color: var(--light);
        }
        
        .description {
            position: absolute;
            width: 200px;
            height: 52px;
            left: 50px;
            top: 480px;
        
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 100%;
            color: var(--light);
        }

        /*About us*/
        .about-container {
            margin: 0;
            padding: 25px;
            height: 1000px;
        }

        /*About Us heading*/

        .about-heading {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
        }

        .line {
            width: 80px;
            height: 1px;
            border: 2px solid #FF3334;
        }

        .about-heading h3 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
        }

        .about-heading  span {
            color: #FF3334;
        }

        /*End of About Us heading*/

        /*About Description*/

        .about-description {
            margin: 0;
            padding-top: 60px;
            display: flex;
            flex-wrap: wrap;
            height: 870px;


        }


        .about-description img {
            width: 250px;
            height: 300px;
            border: 1px solid #000000;
            box-shadow: 30px 30px 6px rgba(113, 104, 99, 0.52);
        }

        .about-content h4 {
           position: absolute;
            width: 280px;
            height: 113px;
            left: 20px;
            top: 1200px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            color: var(--black);
        }

        .about-content p {
            position: absolute;
            width: 270px;
            height: 66px;
            left: 20px;
            top: 1300px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            color: var(--black);
        }

        .about-button {
            position: absolute;
            width: 200px;
            height: 71px;
            left: 20px;
            top: 1460px;
            border-radius: 15px;
        }


        .demo-num-1 {
            position: absolute;
            width: 105px;
            height: 80px;
            left: 20px;
            top: 1570px;

            font-family: 'Segoe UI'; 
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 25px;
            color: var(--black);
        }

        .demo-num-2 {
            position: absolute;
            width: 105px;
            height: 80px;
            left: 110px;
            top: 1570px;

            font-family: 'Segoe UI'; 
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 25px;
            color: var(--black);
        }

        .demo-num-3 {
            position: absolute;
            width: 105px;
            height: 80px;
            left: 200px;
            top: 1570px;

            font-family: 'Segoe UI'; 
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 25px;
            color: var(--black);
        }

        .demo {
            font-size: 19px;
            line-height: 15px;
        }


        /*End of About us*/

        /*Our Project*/

        .project-container {
            margin: 0;
            padding: 25px;
            
        }

        .project-heading {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
        }

        .project-heading .line-project {
            width: 80px;
            height: 1px;
            border: 2px solid black;
        }

        .project-heading h3 {
            margin: 0;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
        }

        .project-heading span {
            color: #FF3334;
        }

        .project-content {
            margin-top: 20px;
            margin-bottom: 20px;;
            padding: 0px;   
        }

        .project-content h4 {
            width: 300px;
            height: 80px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            color: var(--black);
        }

        .project-content span {
            color: #FF3334;
        }

        .button-items-project {
            margin: 0;
            position: relative;
        }

        .architecture-button {
            width: 130px;
            height: 54px;
            margin-right: 10px;
            background: #FF3334;
        }

        .interior-button {
            width: 121px;
            height: 54px;
        }

        .exterior-button {
            position: absolute;
            top: 70px;
            left: 0px;
            width: 100px;
            height: 54px;
        }

        .drafting-button {
            position: absolute;
            top: 70px;
            left: 115px;
            width: 150px;
            height: 54px;
        }

        /*Project images*/


        .project-flexbox{
            margin: 0px;
            height: 1600px;
           
        }
        /*Img a*/
        .img-a {
            margin-top: 70px;
            position: relative;
            width: 295px;
            height: 340px;
        }

        .items-a{
            position: absolute;
            padding: 20px;
            top: 221px;
            left: 0px;
            width: 180px;
            height: 120px;
            background-color: var(--light);
        }

        .items-a h4 {
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #FF3334;
        }

        .items-a p {
            text-align: left;
            width: 180px;
            height: 68px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
        }

        /*img b*/
        .img-b {
            margin: 0px;
            left: 0px;
            padding: 0px;
            width: 295px;
            height: 340px;
            
        }
        .img-b img{
            
         
            position: relative;
            left: 0px;
            width: 295px;
            height: 340px;
        }

        .items-b{
            position: absolute;
            padding: 20px;
            top: 241px;
            left: 0px;
            width: 180px;
            height: 120px;
            background-color: var(--light);
            
            
        }

        .items-b h4 {
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #FF3334;
        }

        .items-b p {
            text-align: left;
            width: 180px;
            height: 68px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
        }


        /*End of project images*/

        /*End of Our Project*/


        /*Our Services*/

            .service-container {
                margin: 0;
                padding-left: 20px;
                padding-right: 20px;
                height: 1000px; 
            }

            /*Services heading*/



            .service-heading {
                padding-left: 20px;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
            }

            .service-heading .line-service  {
                width: 80px;
                height: 1px;
                border: 2px solid black;
            }

            .service-heading h3 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
            }

            .service-heading  span {
                color: #FF3334;
            }

            /*End of our services heading*/

            /*Service Description*/

            .service-description {
                margin: 0;
                padding: 0px;  
            }

            .service-content {
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                position: relative;  
                height: 850px; 
            }

            .service-content .icons {
                position: absolute;
                margin: 0; 
                display: flex;
                flex-direction: row;
            
            }

            /*Column of icon*/
            .icon-column{
                margin-top: 10px;
                position: relative;
                display: flex;
            }
            /*End of coumn of icon*/

            .service-content .icons .icon-a, .icon-b, .icon-c, .icon-d h4 {
                padding: 10px;
                width: 145px;
                height: 170px;
                font-size: 18px; 
                font-family: 'Roboto';
                font-weight: bold;
                color: black; 
                background: #C4C4C4;
            }

            .service-content .icons   p {
                padding-top: 5px;
                padding-bottom: 5px;
            
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
            }

            .service-content .icons .icon-a {
                
                margin:0px;
                margin-top: 90px;
            }
            .service-content .icons .icon-b {
                
                margin:5px;
            }

            .icon-a img {
                height: 50px;
                width: 50px;
            }
            .icon-b img {
                height: 50px;
                width: 50px;
            }

            .icon-c img{
                height: 50px;
                width: 50px;
            }

            .icon-d img{
                height: 50px;
                width: 50px;
            }


            .service-content .icons .icon-c {
                margin-top:4px;
                margin-left:0px;
                
            }

            .service-content .icons .icon-d {
                margin: 5px;
                
            }

            .service-content .service-details {
                margin: 0px;
                padding: 20px;
                position: relative;
            
            }
            .service-content .service-details h4 {
                position: absolute;
                top: 460px;
                left: 20px;
                width: 270px;
                height: 113px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: 27px;
                color: var(--black);
            }

            .service-content .service-details p {
                position: absolute;
                width: 240px;
                height: 70px;
                top: 550px;
                left: 20px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                color: var(--black);
            }

            .service-button {
                position: absolute;
                width: 200px;
                height: 71px;
                top: 750px;
                left: 20px;
                border-radius: 15px;
            }

            /*End of our services*/

            /*Luxuries Apartment*/

            .luxuries-container {
                margin: 0; 
                height: 1500px;
            }

        

       

            .luxuries-heading .line-luxuries  {
                width: 80px;
                height: 1px;
                border: 2px solid black;
            }

            .luxuries-heading h3 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
            }

            .luxuries-heading span {
                color: #FF3334;
            }


            .luxuries-container .gallery {
                position: relative;
               
            }

    

            .luxuries-container .gallery .photo-a img{
            
                width: 330px;
                height: 330px; 
            }

            .luxuries-container .gallery .photo-b img{
                width: 330px;
                height: 330px; 
            }

            .luxuries-container .gallery .photo-c img{
                position: absolute;
                top: 335px;
                left: 0px;
                width: 330px;
                height: 330px; 
            }

            .luxuries-container .gallery .photo-d img{
                position: absolute;
                top: 1053px;
                left: 0px;
                width: 330px;
                height: 330px; 
                
            }

            /* End of luxuries Apartment*/

            /* Our Blog*/

            .blog-container {
                margin: 0;
                height: 1250px;
        
            }

            .blogs {
                position: relative;
                padding: 0px;
                
            }

        

        


            .blog-container .blog-contents .blog-1 {
                position: absolute;
                margin-top: 20px;
                margin-right: 20px;
                padding: 18px;
                width: 320px;
                height: 520px;
                border: 1px solid grey;
            

            }

            .blog-container .blog-contents .blog-2 {
                position: absolute;
                top: 550px;
               
                padding: 25px;
                width: 200px;
                height: 282px;
                border: 1px solid grey;
            
                
            }
            .blogg {
                position: absolute;
                top: 560px;
               
                padding: 25px;
                width: 200px;
                height: 282px;
                border: 1px solid grey;
            }

            .blog-detail {
                margin: 0;
                padding: 20px;
                height: 100%;
                width: 100%;
                background-color: var(--blog);
            }


            /*Blog heading*/

            .blog-heading {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                margin-top: 8px;
            }

            .blog-date{
                margin-top: 8px;
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 499;
                font-size: 14px;
            }

            .blog-date span{
                color: #FF3334;
            }

            /*End of blog heading*/

            .blog-container .blog-contents .blog-3 {
                margin: 0;
                padding: 10px;
                height: 300px;
                width: 50%;
                border: 1px solid black;

            }

            /* End of our Blog*/

            /*Footer contain*/

            footer{
                margin: 0;
                padding: 10px;
                width: 470px;
                height: 1300px;
                background-color: #030305;
            }

            .footer-logo {
                padding-top: 10px;
                padding-left: 30px;
            }

            .lines {
                margin: 30px;
            }

            .footer-container {
                padding-left: 30px;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                height: 980px;
                
            }

            .foot-a {
                flex: 1;
            }


            .footer-container h3 {
                width: 276px;
                height: 75px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 27px;
                color: #FFFFFF;
            }

            footer .footer-container .abouts-footer .icon {
                margin: 10px;  
            }

            ::placeholder {
                color: #212529;
            }


            footer .footer-container .news-letter .icon input {
                padding: 8px 22px;
                font-size: 13px;
                border-radius: 50px;
                border: 2px solid #fff;
                margin-top: 20px;
                width: 100%; 
            }


            .footer-container p {
                position: absolute;
                width: 276px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 21px;

                color: #C5C5C5;
            }

            footer .abouts-footer img {
                margin-top: 50px;
            }

            footer .important-link {
                width: 127px;
            }

            footer .contact-info {
                width: 225px;
            }
            footer .news-letter {
                width: 277px;
            }

            footer  .paperplane {
                margin-top: 90px;
                position: relative;
                display: flex;
                background-color: white;
                border-radius: 20px;
                width: 250px;
                height: 40px;
                
            }

            footer .paperplane input {
                width: 250px;
                height: 40px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: none;
            
            }

            footer .paperplane input::placeholder {
                text-align: center;
            }

            footer .paperplane input:focus{
                outline: none;
            }

            footer .paperplane .buttons {
                background-color: #FF3334;
                border-radius: 20px;
                width: 70px;
                border: none;
            }


            footer .copyright {
                margin: 0px;
                width: 300px;
            }


            footer .copyright-text {
                text-align: center;
            
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
            
                color: #C5C5C5;
            }

            /*End of footer*/

    }